<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/images/iconoElPilar.png" type="image/png" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Panel del Locutor</title>
  <link rel="stylesheet" href="/admin/admin.css">
</head>
<body>

  <div class="admin-panel">
    <a href="https://mlagundiaelpilar.org/es/" target="_blank" rel="noopener noreferrer"  ><img id="logo" src="/images/logo.png"></a>
    <h1><i class='bx bx-podcast' ></i> Administra tu emisión</h1>
    <form action="/update-program" method="POST" enctype="multipart/form-data">
      <input type="text" name="title" placeholder="Título del programa" required />
      <textarea name="description" placeholder="Descripción" required></textarea>
      
      <!-- Zona para arrastrar y soltar -->
      <div id="drop-zone">
        Arrastra la imagen aquí <br>
        o <br>
        haz clic para seleccionar <br><br>
        <i class='bx bxs-hand-up icon-float' ></i>
      </div>
      
      <!-- Input oculto de archivo -->
      <input type="file" id="file-input" name="image" accept="image/*" style="display:none" required />

      <button type="submit">Guardar</button>
      
    </form>
  </div>

  <div id="bottom-btn">
    <button id="return">Accede a la radio</button>
    <button id="access">Volver atrás</button>
  </div>

  <script src="/admin/admin.js"></script>
  
</body>
</html>
